@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url('jon-flobrant-s6L0uQyprpE-unsplash.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
